<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forever17.project.charityquest.mapper.DonationMapper">
    <resultMap id="BaseResultMap" type="com.forever17.project.charityquest.pojos.Donation">
        <id column="donation_id" jdbcType="VARCHAR" property="id"/>
        <result column="donation_public_id" jdbcType="VARCHAR" property="publicId"/>
        <result column="donation_type" jdbcType="VARCHAR" property="type"/>
        <result column="donation_charity_id" jdbcType="VARCHAR" property="charityId"/>
        <result column="donation_fundraising_id" jdbcType="VARCHAR" property="fundraisingId"/>
        <result column="donation_donate_type" jdbcType="VARCHAR" property="donateType"/>
        <result column="donation_money" jdbcType="INTEGER" property="money"/>
        <result column="donation_time" jdbcType="TIMESTAMP" property="time"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        donation.id as donation_id, donation.public_id as donation_public_id, donation.`type` as `donation_type`,
    donation.charity_id as donation_charity_id, donation.fundraising_id as donation_fundraising_id, 
    donation.donate_type as donation_donate_type, donation.money as donation_money, donation.`time` as `donation_time`
    </sql>
    <select id="selectByExample" parameterType="com.forever17.project.charityquest.pojos.DonationExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from donation donation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from donation donation
        where donation.id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from donation
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.forever17.project.charityquest.pojos.DonationExample">
        delete from donation donation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.forever17.project.charityquest.pojos.Donation" useGeneratedKeys="true">
        insert into donation (public_id, `type`, charity_id,
                              fundraising_id, donate_type, money,
                              `time`)
        values (#{publicId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{charityId,jdbcType=VARCHAR},
                #{fundraisingId,jdbcType=VARCHAR}, #{donateType,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER},
                #{time,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.forever17.project.charityquest.pojos.Donation" useGeneratedKeys="true">
        insert into donation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="publicId != null">
                public_id,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="charityId != null">
                charity_id,
            </if>
            <if test="fundraisingId != null">
                fundraising_id,
            </if>
            <if test="donateType != null">
                donate_type,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="time != null">
                `time`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="publicId != null">
                #{publicId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="charityId != null">
                #{charityId,jdbcType=VARCHAR},
            </if>
            <if test="fundraisingId != null">
                #{fundraisingId,jdbcType=VARCHAR},
            </if>
            <if test="donateType != null">
                #{donateType,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                #{money,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.forever17.project.charityquest.pojos.DonationExample"
            resultType="java.lang.Long">
        select count(*) from donation donation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update donation donation
        <set>
            <if test="record.id != null">
                donation.id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.publicId != null">
                donation.public_id = #{record.publicId,jdbcType=VARCHAR},
            </if>
            <if test="record.type != null">
                donation.`type` = #{record.type,jdbcType=VARCHAR},
            </if>
            <if test="record.charityId != null">
                donation.charity_id = #{record.charityId,jdbcType=VARCHAR},
            </if>
            <if test="record.fundraisingId != null">
                donation.fundraising_id = #{record.fundraisingId,jdbcType=VARCHAR},
            </if>
            <if test="record.donateType != null">
                donation.donate_type = #{record.donateType,jdbcType=VARCHAR},
            </if>
            <if test="record.money != null">
                donation.money = #{record.money,jdbcType=INTEGER},
            </if>
            <if test="record.time != null">
                donation.`time` = #{record.time,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update donation donation
        set donation.id = #{record.id,jdbcType=VARCHAR},
        donation.public_id = #{record.publicId,jdbcType=VARCHAR},
        donation.`type` = #{record.type,jdbcType=VARCHAR},
        donation.charity_id = #{record.charityId,jdbcType=VARCHAR},
        donation.fundraising_id = #{record.fundraisingId,jdbcType=VARCHAR},
        donation.donate_type = #{record.donateType,jdbcType=VARCHAR},
        donation.money = #{record.money,jdbcType=INTEGER},
        donation.`time` = #{record.time,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.forever17.project.charityquest.pojos.Donation">
        update donation
        <set>
            <if test="publicId != null">
                public_id = #{publicId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="charityId != null">
                charity_id = #{charityId,jdbcType=VARCHAR},
            </if>
            <if test="fundraisingId != null">
                fundraising_id = #{fundraisingId,jdbcType=VARCHAR},
            </if>
            <if test="donateType != null">
                donate_type = #{donateType,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                `time` = #{time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.forever17.project.charityquest.pojos.Donation">
        update donation
        set public_id      = #{publicId,jdbcType=VARCHAR},
            `type`         = #{type,jdbcType=VARCHAR},
            charity_id     = #{charityId,jdbcType=VARCHAR},
            fundraising_id = #{fundraisingId,jdbcType=VARCHAR},
            donate_type    = #{donateType,jdbcType=VARCHAR},
            money          = #{money,jdbcType=INTEGER},
            `time`         = #{time,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>