<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forever17.project.charityquest.mapper.PublicUserMapper">
    <resultMap id="BaseResultMap" type="com.forever17.project.charityquest.pojos.PublicUser">
        <id column="public_user_id" jdbcType="VARCHAR" property="id"/>
        <result column="public_user_email" jdbcType="VARCHAR" property="email"/>
        <result column="public_user_password" jdbcType="VARCHAR" property="password"/>
        <result column="public_user_title" jdbcType="VARCHAR" property="title"/>
        <result column="public_user_first_name" jdbcType="VARCHAR" property="firstName"/>
        <result column="public_user_last_name" jdbcType="VARCHAR" property="lastName"/>
        <result column="public_user_tel_pre" jdbcType="VARCHAR" property="telPre"/>
        <result column="public_user_tel" jdbcType="VARCHAR" property="tel"/>
        <result column="public_user_photo" jdbcType="VARCHAR" property="photo"/>
        <result column="public_user_location" jdbcType="VARCHAR" property="location"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        public_user.id as public_user_id, public_user.email as public_user_email, public_user.`password` as `public_user_password`,
    public_user.title as public_user_title, public_user.first_name as public_user_first_name, 
    public_user.last_name as public_user_last_name, public_user.tel_pre as public_user_tel_pre, 
    public_user.tel as public_user_tel, public_user.photo as public_user_photo, public_user.`location` as `public_user_location`
    </sql>
    <select id="selectByExample" parameterType="com.forever17.project.charityquest.pojos.PublicUserExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from public_user public_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from public_user public_user
        where public_user.id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from public_user
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.forever17.project.charityquest.pojos.PublicUserExample">
        delete from public_user public_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.forever17.project.charityquest.pojos.PublicUser">
        insert into public_user (id, email, `password`,
                                 title, first_name, last_name,
                                 tel_pre, tel, photo,
                                 `location`)
        values (#{id,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{title,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR},
                #{telPre,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR},
                #{location,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.forever17.project.charityquest.pojos.PublicUser">
        insert into public_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="firstName != null">
                first_name,
            </if>
            <if test="lastName != null">
                last_name,
            </if>
            <if test="telPre != null">
                tel_pre,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="photo != null">
                photo,
            </if>
            <if test="location != null">
                `location`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="telPre != null">
                #{telPre,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="photo != null">
                #{photo,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.forever17.project.charityquest.pojos.PublicUserExample"
            resultType="java.lang.Long">
        select count(*) from public_user public_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update public_user public_user
        <set>
            <if test="record.id != null">
                public_user.id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.email != null">
                public_user.email = #{record.email,jdbcType=VARCHAR},
            </if>
            <if test="record.password != null">
                public_user.`password` = #{record.password,jdbcType=VARCHAR},
            </if>
            <if test="record.title != null">
                public_user.title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.firstName != null">
                public_user.first_name = #{record.firstName,jdbcType=VARCHAR},
            </if>
            <if test="record.lastName != null">
                public_user.last_name = #{record.lastName,jdbcType=VARCHAR},
            </if>
            <if test="record.telPre != null">
                public_user.tel_pre = #{record.telPre,jdbcType=VARCHAR},
            </if>
            <if test="record.tel != null">
                public_user.tel = #{record.tel,jdbcType=VARCHAR},
            </if>
            <if test="record.photo != null">
                public_user.photo = #{record.photo,jdbcType=VARCHAR},
            </if>
            <if test="record.location != null">
                public_user.`location` = #{record.location,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update public_user public_user
        set public_user.id = #{record.id,jdbcType=VARCHAR},
        public_user.email = #{record.email,jdbcType=VARCHAR},
        public_user.`password` = #{record.password,jdbcType=VARCHAR},
        public_user.title = #{record.title,jdbcType=VARCHAR},
        public_user.first_name = #{record.firstName,jdbcType=VARCHAR},
        public_user.last_name = #{record.lastName,jdbcType=VARCHAR},
        public_user.tel_pre = #{record.telPre,jdbcType=VARCHAR},
        public_user.tel = #{record.tel,jdbcType=VARCHAR},
        public_user.photo = #{record.photo,jdbcType=VARCHAR},
        public_user.`location` = #{record.location,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.forever17.project.charityquest.pojos.PublicUser">
        update public_user
        <set>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                first_name = #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                last_name = #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="telPre != null">
                tel_pre = #{telPre,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="photo != null">
                photo = #{photo,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                `location` = #{location,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.forever17.project.charityquest.pojos.PublicUser">
        update public_user
        set email      = #{email,jdbcType=VARCHAR},
            `password` = #{password,jdbcType=VARCHAR},
            title      = #{title,jdbcType=VARCHAR},
            first_name = #{firstName,jdbcType=VARCHAR},
            last_name  = #{lastName,jdbcType=VARCHAR},
            tel_pre    = #{telPre,jdbcType=VARCHAR},
            tel        = #{tel,jdbcType=VARCHAR},
            photo      = #{photo,jdbcType=VARCHAR},
            `location` = #{location,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>